
@media (min-width: 400px) {
    .listing-form {
   
        margin-bottom: 60px !important;
      }
    
}
body{
    background-color: white ;
}
.reviews{
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.reviews-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size:calc(1vw + 8px);
    background-color: #ffffff;
    table-layout: fixed;

  
  }
  .reviews-table th {
    background-color: #f1f1f1; 

  }
  
  
  .reviews-table th,
  .reviews-table td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
  
  }
  



  
  .divider-cell {
    background-color: #e0e0e0 !important;

  }
  
  .content-data p {
    margin: 0;
    padding: 5px;
    max-height: 75px;
    overflow-y: auto; 
    overflow-x: hidden; 
    white-space: normal;
    
   
  }
  
 
  .index-header {
  padding: 5px !important;
  width: 10% !important;
  }
  
 
  
  .id-header{
    width: 15%;

    padding: 0px;
  }
  





.listing-form {
    max-width: 600px;   /* Limit the form's width */
    margin: 0 auto;     /* Center the form horizontally */
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: Arial, sans-serif;
   
  }
  
  /* Styling for form labels */
  .listing-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
  }
  
  /* Styling for input fields and textarea */
  .listing-form input,
  .listing-form textarea {
    width: 100%;               /* Full width */
    padding: 10px;
    margin-bottom: 15px;       
    border: 1px solid #ccc;  
    border-radius: 4px;       
    box-sizing: border-box;    /* Include padding in width */
    font-size: 14px;
  }
  

  /* Styling for the submit button */
  .listing-form button[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  /* Button hover effect */
  .listing-form button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  /* Focus style for inputs and textarea */
  .listing-form input:focus,
  .listing-form textarea:focus {
    border-color: #4CAF50; 
    outline: none;          
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
  }
 

  #listingsIcon{
    padding: 20px;
    display: inline-block;
    background-color: orange;
    background-size: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a small black box shadow */
    border-radius: 50%; 
  }