:root{
  
  --custom-orange-color: #fc6736; /* custom color code */
  --custom-peach-color: #f4b1b1;
  --custom-gray-color: #efecec;
  --custom-navy-color: #0c2d57;

}
  [data-amplify-authenticator] button:hover{
    background-color: #05244da9;
  }

  div [data-amplify-authenticator]  {
    background: linear-gradient(
        to bottom,
        var( --custom-navy-color),
        var( --custom-peach-color),
        var(--custom-orange-color)
      );
  }
  
  
[data-amplify-authenticator] {
    
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
    --amplify-components-button-primary-background-color: var(--amplify-colors-neutral-100);
    --amplify-components-button-hovor-color: var(--custom-peach-color);
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px var(--amplify-colors-purple-60);
    --amplify-components-tabs-item-active-border-color: var(--amplify-colors-neutral-100);
    --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
    --amplify-components-tabs-item-active-color: var(--amplify-colors-purple-100);
    --amplify-components-button-link-color: var(--amplify-colors-purple-80);

    --amplify-components-header-color: var(--amplify-colors-purple-80);
  }
  [data-amplify-authenticator] .amplify-button--primary {
    background-color:#103360ee;
     

  }



  @media (max-width: 576px) {
 
    main .trips{
     align-items: center;
     flex-direction: column;
     overflow-y: scroll;
     overflow-x: hidden;

    }
    div.card{
      max-height: 20rem;

    }
    .card.createRes {
      margin: 10px;
        } 
        .fc {
          box-shadow: none !important;
        }

        .fc-container{
         padding: 0px !important;
         }
        
  }
  
.navbar a {
font-weight: 900;
font-family:sans-serif,'Lucida Grande';
color: white;
}
  


.navbar{
  position: absolute;
  background: radial-gradient(
    circle at left,
   
    var( --custom-navy-color),
    var(--custom-orange-color)
   
  );
}
.trips::-webkit-scrollbar  {
  display: none;
}



.trips{
 
    display: flex;
    justify-content: left;
flex-direction: row;
    width: 100%;
    overflow-y:hidden;
  height: 100vh;

}
div.card{
  max-height: 25rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.createRes{
padding:50px;

margin-top: 20px;
}
main >.createRes{
  margin-bottom: 100px;
}
.createRes >section{
  display: flex;
  flex-direction: row;
  width: 100%;

}
 #firstName{
  flex:1; 
  margin-right: 10px;
 }
 #lastName{
 flex:1;
 }


#fNameLabel{
  

flex:1;
}


.input {


  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;

}

.input:hover{
  box-shadow:  3.5px 5px 0px rgba(0, 0, 0, .2);
}



.sideBarIcons >button {
  background-color: rgba(0,0,0,0);
  border: none;

margin: 10px;
 
 }
 .snowIcon{
  padding: 20px;
  display: inline-block;
 
  background-size: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a small black box shadow */
  border-radius: 50%; 
}

#snow{
  background-image: url(https://www.svgrepo.com/show/231966/snowboarder.svg);
}
#ski{background-image: url(https://www.svgrepo.com/show/231962/skier.svg);}
#createIcon{
  background-image: url(https://www.svgrepo.com/show/435930/register.svg);
  border-radius: 5%; 
}


.sideBarIcons{
background-color: none;
position: fixed;
bottom: 0;

}



.side-panel{

  background-color: white;

  position: fixed;
  top: 50px;
  right: 0;
  width: 350px; /* Adjust width as needed */
  height: 100%;
  z-index: 1;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Add shadow to create depth */
  overflow-y: auto; 
  
}


.side-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
.reservation-list {
  font-family: Arial, sans-serif;
}

.event-item {
  border: 1px solid #ccc;

  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;

}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.event-time {
  font-weight: bold;
  color: #333; 
}

.event-title {
  font-size: 18px;
  color: black; 
}

.event-details {
  color: black; 
  overflow: auto;
}



.side-panel-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2.5px;
}

.side-panel-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.side-panel-button:focus {
  outline: none;
}

.collaspe-content{
  border-radius: 2px;

  padding: 20px;
  margin: 10px;
  background-color: white;
}

.event-details> h5{
  font-weight: bold;
}

section.dropdown{
padding: 5px;
  margin-bottom: 50px;
}


.card p{
  display: flex;
  flex-direction: column;
}


.card header{
  display: flex;
  justify-content: space-between;
}
.card header button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
}



.fc-view-harness {
  height : 100vh !important; 
}
.fc {
border-style: solid;
overflow: auto;
padding: 25px;
border-radius: 5px;
border-color: white;
box-shadow:  -2px 0 5px rgba(0, 0, 0, 0.1);
}

.create-res-label{
  margin-top: 10px !important;
}

.fc thead{
  background-color: aliceblue;
}


.fc-container{
 margin-top: 50px; padding: 50px;
}


.hide{  border:  none;
  background-color: white;}
.edit-input{


 border-radius: 10px;
 padding: 5px;
 border: 1px solid #ccc;

}