:root{
  
  --custom-orange-color: rgb(252, 103, 54); /* custom color code */
  --custom-peach-color: #f4b1b1;
  --custom-gray-color: #efecec;
  --custom-navy-color: #0c2d57;
  --custom-dark-purple-color: #4b0082;

}
  [data-amplify-authenticator] button:hover{
    background-color: #05244da9;
  }

  div [data-amplify-authenticator]  {
    background: linear-gradient(
        to bottom,
        var( --custom-navy-color),
        var( --custom-peach-color),
        var(--custom-orange-color)
      );
  }
  
  
[data-amplify-authenticator] {
    
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
    --amplify-components-button-primary-background-color: var(--amplify-colors-neutral-100);
    --amplify-components-button-hovor-color: var(--custom-peach-color);
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px var(--amplify-colors-purple-60);
    --amplify-components-tabs-item-active-border-color: var(--amplify-colors-neutral-100);
    --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
    --amplify-components-tabs-item-active-color: var(--amplify-colors-purple-100);
    --amplify-components-button-link-color: var(--amplify-colors-purple-80);

    --amplify-components-header-color: var(--amplify-colors-purple-80);
  }
  [data-amplify-authenticator] .amplify-button--primary {
    background-color:#103360ee;
     

  }


@media (min-width:576px) {
  
#instructorCard{
  min-width: 35rem;
}




}
  @media (max-width: 576px) {
    
    #reserve{
      padding: 0px !important ;
    }
    .partnerships{
      flex-direction: column;
    }

.text{
  padding: 25px 0px !important;

 
}
  
    div.card{
      margin: 10px auto !important ;
      
    }
    .card.createRes {
      margin: 10px;
        } 
        .fc {
          box-shadow: none !important;
        }

        .fc-container{
         padding: 0px !important;
         }
         .fc .fc-toolbar-title{
          padding-left: 5px;
         
        }

      
        
  }
  
.navbar a {
font-weight: 900;

color: white;
}
  
#clientNav{

opacity: .9;
}

.navbar{
 
  background: radial-gradient(
    circle at left,
   
    var( --custom-navy-color),
    var(--custom-orange-color)
   
  );
}
.trips::-webkit-scrollbar  {
  display: none;
}



.trips{
 
    display: flex;
    justify-content: left;
 flex-direction: row;
  width: 100%;
  overflow-y:hidden;
  gap: 15px;
  padding: 0px 10px;

}
div.card{

  border-radius: 20px;
 
  box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
  margin-bottom: 10px;
}

.createRes{
padding:50px;

margin-top: 20px;
}
main >.createRes{
  margin-bottom: 100px;
}
.createRes >section{
  display: flex;
  flex-direction: row;
  width: 100%;

}
 #firstName{
  flex:1; 
  margin-right: 10px;
 }
 #lastName{
 flex:1;
 }


#fNameLabel{
  

flex:1;
}


.input {


  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;

}

.input:hover{
  box-shadow:  3.5px 5px 0px rgba(0, 0, 0, .2);
}

.admin-page {
  display: flex;
  height: 100vh; /* Ensures full viewport height */
  overflow: hidden;
  flex-direction: column;
}

.sidebar {
  background-color: rgba(240, 240, 240, 0.8); /* Light gray with 80% opacity */
  display: flex;
  position: fixed;
padding-top: 8px;
  width: 100%;
  bottom: 0px;
  align-items: center;
  overflow: auto;
justify-content: space-evenly;
z-index: 999999;

}

.sidebar-button {

  background-color: transparent;
  border: none;

  cursor: pointer;
}
.sidebar-button-id{display: block; font-size: .75rem;
}
.sidebar-button:hover{
  background-color: rgba(0, 0, 0, 0.1); /* Light transparent gray on hover */
  border-radius: 10px;
}

.snowIcon {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#snow{
  background-image: url(https://www.svgrepo.com/show/231966/snowboarder.svg);
}
#ski{background-image: url(https://www.svgrepo.com/show/231962/skier.svg);
}
#createIcon{
  background-image: url(https://www.svgrepo.com/show/435930/register.svg);
  border-radius: 5%; 
}
#reviewsIcon{
  background-image: url('src/assets/comment.svg');


}
#instuctor{
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"%3E%3Cpath d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"%3E%3C/path%3E%3Cpath fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"%3E%3C/path%3E%3C/svg%3E');

}






.side-panel{

  background-color: white;

  position: fixed;
  top: 50px;
  right: 0;
  height: 100%;
  z-index: 1;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
  overflow-y: auto; 
  
}


.side-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.event-item {
  border: 1px solid #ccc;

  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;

}

.event-header {
  display: flex;
  justify-content:space-between;
  
  align-items: center;

}

.event-time {
  font-weight: bold;
  color: #333; 
}

.event-title {
  font-size: 18px;
  color: black; 
}

.event-details {
  color: black; 
  overflow: auto;
}



.side-panel-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2.5px;
}

.side-panel-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.side-panel-button:focus {
  outline: none;
}

.collaspe-content{
  border-radius: 2px;
  padding: 20px;
  background-color: white;
}
.reservation-list .collaspe-content{
  margin: 10px;
}



.event-details> h5{
  font-weight: bold;
}

section.dropdown{
padding: 5px;
  margin-bottom: 50px;
}


.card p{
  display: flex;
  flex-direction: column;
}

.card-body label{
  font-weight: 600;
}

.card header{
  display: flex;
  justify-content: space-between;
}
.card header button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 20px;
}

.fc {
overflow: auto;
padding: 25px;
height : 100vh !important; 
}

.fc .fc-daygrid-day-frame {

  overflow:hidden scroll;
}
.create-res-label{
  margin-top: 10px !important;
  font-weight: 900;
 font-size: large;

  color: var(--custom-navy-color);
}

.fc thead{
  background-color: aliceblue;
}


.fc-container{
 margin-top: 50px;

}


.hide{  border:  none;
  outline: none;
  
  background-color: white;}
.edit-input{

 border-radius: 10px;
 padding: 5px;
 border: 1px solid #ccc;

}


.shadow{  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }



.userDetails{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;


  
}
.userDetails >input{
  width:50%;
}


.image-container{
  height: 100vh;
  width: 100%;
  background-image: url("/src/assets/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  overflow-y:scroll ;

}
.image-container:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0,0.5);
}
.title-container{
  padding: 40vh 0px;

  
 
}
.title{
  position: relative;
  text-align: center;
height: 100vh;
  width: 100%; 

  
  }
  .title h1{
    font-size: 10vw;
  
  }
  
  .title a{
    min-width: 30%;
    font-size: calc(.75rem + 1vw);
  
    background-color:var(--custom-orange-color);
   color: white !important;
    
  }
  .title a:hover{
    background-color: rgb(252, 127, 85);
  }


  .clientTrips{
display: flex;
justify-content: center;
flex-direction: column;
min-height: 500px;
margin-bottom: 100px;

  }
  .location{
  border: none;
  flex:0 0 18rem;

  }


  #reserve{
 position: relative;
padding: 50px 100px;
background-color: white;}

.text{
  padding: 25px 50px;
  font-size: x-large;
 
}



.fc .fc-daygrid-day-events {
  max-height: 6rem;
}
.feedback-popup button{
 align-self: flex-start;

}
.feedback-popup button:hover{
  background-color: red;
  color: white;
  border-color: red;


}
.feedback-popup a{
text-decoration: none;
}
.feedback-popup{

  flex-direction: column;
  place-items: center;
 box-shadow: 0px 1px var(--custom-navy-color);

  padding: 25px;
  position: fixed;
  transform: translate(-50%,-50%);
  background-color: white;
  gap: 10px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  max-width: 400px;


 

}



.feedback{
  display: flex;
  place-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  position: relative;

  padding:10px;
  
}

.feedback input{
  display: block;

}

.feedback input,.styled-textarea {

  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-size: 1rem;

  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}
.feedback label{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  color: rgb(48, 45, 45);
  font-weight: bold;

}

.feedback button{
  display:block;
  margin: 10px 0px;
  background-color: rgb(0, 204, 102);
  color:white;

}

.feedback button:hover{
 
  background-color: rgb(34, 233, 133);
  color:var(--custom-dark-purple-color-color);
}
.feedback h1 {
  color:var(--custom-orange-color);
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem; /* Adjust the font size for better visibility */
  font-weight:700;
  padding: 10px 0px; 
  text-align: center;

}

.feedback-img{
    width: calc(50vw + 100px);

}

.styled-textarea {

  height: 150px;
  resize: vertical; 
 
}

.styled-textarea:focus {
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glow effect on focus */
}

.styled-textarea::placeholder {
  color: #999;
  font-style: italic;
}

.reviews{
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  
  padding: 25px 0px;


}

.reviews div {
  border: 1px solid whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: calc(50vw + 50px);

 word-wrap: break-word; 
 overflow-wrap: break-word; 
 word-break: break-all; 

}

.reviews div:hover{
  margin: 15px 0px;
  box-shadow: 0 0 10px rgb(19, 35, 255); 
}
.reviews p{

  padding: 0px 25px;
}
.reviews header{
  display: flex;
  justify-content: space-between;
  text-align: left;
  
  
}


.section-title {
  text-align: center;
  margin-top: 4rem ;
  font-size: 1.5rem;

  font-family: monospace;
}

#map {
  
  width: 100%; /* The width is the width of the web page */
flex:3;

}


.details-container{
  min-height: 200px;
}
.mapContainer{
  display: flex;
  width: 100%;
  height: 400px



}
.contentWindow {

flex: 2;
  background-color: #fff;
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  transition: all 0.3s ease-in-out;

}

.contentWindow header {

  padding: 15px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  
}

.contentWindow header h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.contentWindow button {
  background-color: #6B7280;
  color: #FFFFFF;
  border: none; 
  border-radius: 8px; 
  font-size: 1rem; 
  font-weight: 600; 
  margin-bottom: 15px;
  padding: .5rem .75rem;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.contentWindow button:hover {
  background-color: #374151 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




.contentWindow img {
  width: 100%;
  height: auto;
}

.contentWindow .link-container {
  font-size: 1rem;
  padding: 10px 10px 10px;
  color: #007bff;
  width: 100%;

}


.contentWindow h6{
 
  margin: 10px 15px;

}

.contentWindow .link {
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s;
}

.contentWindow h5 a:hover {
  color: #0056b3;
}

.contentWindow p {
  padding: 0px 24px;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #555;
}
.contentWindow:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.info-window-content {
 
  font-size: 14px;
  color: green;
width: 400px;

  
}
.info-window-content h1 {
  font-size: 16px;
  margin: 0;
}
.info-window-content p {
  margin: 5px 0;
}









/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}



nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
}

.hero {
  background-image: url('/src/assets/ski.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  
}

.hero-text {
  background: rgba(180, 62, 26, 0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: #fff; 
  margin: 0px 15px;
  
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
 
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #ffcc00;
  color: #004080;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ffc107;
}
.icon{
  display: block;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-size: cover;
  border-radius: 50%;

}

.content {

  flex: 1;
  overflow-y: auto; /* Allows scrolling for the content */
  padding: 20px;
  margin-bottom: 100px;
 
}

.content h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #004080;
}

.content >p,span {
  
  line-height: 1.6;
  

}

.partnerships {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;

}


.partnership {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
 text-align: center;
}

.partnership:hover {
  transform: translateY(-10px);
}

.partnership img {
  width: 100%;
  height: auto;

  object-fit: cover;
}

.partnership h3 {
  font-size: 1.8em;
  margin: 20px;
  color: #333;
}

.partnership p {
  padding: 0 20px 20px;
  font-size: 1.1em;
  color: #555;
}






.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}










.location-elt{
  margin: 0px;
padding: 15px 10px;
border-bottom: 1px solid #ddd;

color: #333;
transition: color 0.3s ease, background-color 0.3s ease;

}

.location-elt:hover{
  color: #1a73e8; /* Professional blue color on hover */
  background-color: #f0f4fa;
  cursor: pointer;
}